// fonts

@import url('https://rsms.me/inter/inter.css');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono&display=swap');

// tailwind

@tailwind base;
@tailwind components;
@tailwind utilities;

// global

*,
*:active,
*:focus {
  outline: 0 !important;
}

a {
  @apply text-primary;

  &:hover {
    filter: brightness(1.2);
  }

  transition: 0.2s;
}

h1 {
  @apply text-primary text-3xl font-semibold;
}

h2 {
  @apply text-accent text-4xl font-medium mt-8 leading-tight;
}

img {
  @apply block align-top outline-none max-w-full;
}

p {
  @apply my-4 max-w-2xl;
}

figure {
  @apply m-8 flex-grow;

  img {
    @apply rounded-lg;
  }

  figcaption {
    @apply mt-4;
  }
}

table {
  @apply w-full;

  td,
  th {
    @apply align-middle text-left p-4 border border-gray-300;
  }
}

// layout

main {
  @apply m-8;
}

// dark

.dark-mode {
  td,
  th {
    @apply border-gray-900;
  }
}

// responsive

@media (max-width: 1024px) {
  figure {
    width: 100%;
  }
}

@media (min-width: 1024px) {
  figure {
    width: calc(50% - 4rem);
  }
}
